<html>
    <body>
        
        <h1>Movie Data Page</h1>

        Id : <%= Data.id %><br/>
        Name : <%= Data.name %> <br/>
        Genres : <%= Data.genres %><br/>
        Language : <%= Data.Language %><br/>

        <% if(Data.image != 0) { %>
            <img src= <%= Data.image %> alt="image"><br/>
        <% } %>
        

        <a href="/Menu">Back to Menu page</a>

    </body>
</html>